@model IEnumerable<Quiron.LojaVirtual.Dominio.Entidade.Produto>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListaProdutos</title>
</head>
<body>
    @Html.ActionLink("Create New", "Create")
    <div>
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(Model => Model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(Model => Model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(Model => Model.Preco)
                </th>
                <th>
                    @Html.DisplayNameFor(Model => Model.Categoria)
                </th>
                <th></th>
            </tr>
            @foreach(var item in Model)
            {
                <tr>
                    <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Preco)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categoria)
                    </td>
                </tr>
            }
        </table> 
    </div>
</body>
</html>
